<div class="home-intro">
  <img src="..{{ site.baseurl }}/assets/img/Illia-Ilin.png" />
  <br />
  <h5 class="meta-title">Hello, I'm {{ site.me.name }} ⸻</h5>
  <div class="jumbo">
    I'm a passionate professional with a decade of experience in
    telecommunications and IT.
  </div>
  <div class="home-sub-text">
    <h3>
      With my expertise in project management, data analysis, and process
      automation, I bring a creative approach to driving efficiency and
      achieving outstanding results. My keen interest in DevOps fuels my
      dedication to fostering innovation, building collaborative teams, and
      leveraging cutting-edge technologies.
    </h3>
    <h3>
      Let's rise to new heights together and make a lasting impact in the world
      of technology.
    </h3>
  </div>
</div>
